@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
  --background-normal: #edd5bb;
  --background-light: #fcebd5;
  --background-dark: #e09686;
  --primary-default: #a26a5e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

html,
body {
  background-color: var(--background-normal);
  margin-top: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  background-color: var(--primary-default);
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  display: inline-block;
  color: var(--background-normal);
  font-size: 2rem;
  text-decoration: none;
  margin-left: 10px;
}

.logo-hover a:hover{
  color: var(--background-dark);
  text-decoration: none;
}

.dancing-script-logo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.aboutus {
  background-image: url("./images/backgr.png");
  background-color: #cccccc;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-aboutus {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 2px;
}

.text-aboutus P{
  background-color: var(--primary-default);
  border-radius: 30px;
}

.text-aboutus a{
  color: white;
  text-decoration: underline;
}

.text-aboutus a:hover{
  color: var(--background-dark);
}

.paragraphs {
  font-size: 1.1rem;
}

h2 {
  color: var(--primary-default);
}


.card {
  background-color: var(--background-normal) !important;
  color: var(--primary-default);
}

.card-body a {
  background-color: var(--primary-default);
  color: var(--background-light);
  outline: #a26a5e;
  border: 1px solid var(--primary-default);
}

.card-body a:hover {
  cursor: pointer;
  background-color: var(--background-dark);
  border: 1px dotted var(--primary-default);
}
.gallery .images-animation {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  background-color: var(--background-normal);
}

.gallery .images-animation .top {
  position: relative;
  -webkit-transform: translateX(-850px);
  transform: translateX(-850px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: animationtoleft 45s linear infinite;
  animation: animationtoleft 45s linear infinite;
}

.gallery .images-animation .bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: animationtoright 45s linear infinite;
  animation: animationtoright 45s linear infinite;
}

.gallery .images-animation .img-wrapper {
  -webkit-box-shadow: 6px 5px 6px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 5px 6px -1px rgba(0, 0, 0, 0.58);
  min-width: 250px;
  height: 187px;
  margin: 10px;
}

.gallery .images-animation .img-wrapper img {
  width: 100%;
  height: 100%;
}

.color-icons {
  color: #a26a5e;
}

.socialmedia a:hover{
  color: var(--background-dark);
}

.textParag {
  background-color: var(--primary-default);
  border-radius: 25px;
}

.textParag p{
color: var(--background-normal);
font-size: 1.2rem;
}

.hoverZoom :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.fixedbutton {
  position: fixed;
  top: 18%;
  left: 5%; 
  color: var(--background-dark);
}

.fixedbutton :hover{
  transform: scale(1.5);
  cursor: pointer;
}

footer {
  height: 50px;
  background-color: var(--primary-default);
  color: var(--background-light);
}

@-webkit-keyframes animationtoleft {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
}

@keyframes animationtoleft {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
}

@-webkit-keyframes animationtoright {
  from {
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes animationtoright {
  from {
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}


@media (min-width: 768px) {
  .logo {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .text-aboutus {
    text-align: center;
    position: absolute;
    top: 42%;
    left: 29%;
    transform: translate(-20%, -46%);
    color: white;
    background-color: var(--primary-default);
    font-size: 0.6rem;
  }
}

